<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Options</title>
</head>
<body>

<h2>Game Options</h2>

<form method='get' action='/Roulette/MakeBetState'>
    <button style='background-color:green;' type='submit'>Play Again</button>
</form>

<form method='get' action='/Roulette/StartGame'>
    <button style='background-color:green;' type='submit'>End Game</button>
</form>

</body>
</html>
